$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-up-arrow-path1: "\e923";
$icon-up-arrow-path2: "\e924";
$icon-accept: "\e900";
$icon-accepted: "\e901";
$icon-calendar: "\e902";
$icon-camera: "\e903";
$icon-check-path1: "\e904";
$icon-check-path2: "\e905";
$icon-help-lifeguard-symbol: "\e906";
$icon-home: "\e907";
$icon-left-arrow: "\e908";
$icon-letter-x: "\e909";
$icon-logout: "\e90a";
$icon-loupe: "\e90b";
$icon-menu: "\e90c";
$icon-menu-button-of-three-horizontal-lines: "\e90d";
$icon-next: "\e90e";
$icon-notebook: "\e90f";
$icon-pen: "\e910";
$icon-private: "\e911";
$icon-qr-code: "\e912";
$icon-question-path1: "\e913";
$icon-question-path2: "\e914";
$icon-question-path3: "\e915";
$icon-rating-path1: "\e916";
$icon-rating-path2: "\e917";
$icon-remove-path1: "\e918";
$icon-remove-path2: "\e919";
$icon-rounded-info-button: "\e91a";
$icon-round-info-button: "\e91b";
$icon-settings: "\e91c";
$icon-share: "\e91d";
$icon-star: "\e91e";
$icon-star-half-empty: "\e91f";
$icon-translation: "\e920";
$icon-user: "\e921";
$icon-view: "\e922";
$icon-star-empty: "\e9d7";

