.b-icon {
  font-size: 1.75rem;
  color: $color-almostBlack;

  &--2rem {
    font-size: 2.5rem;
  }

  &--remove-item {
    font-size: 2rem;
    font-weight: 800;
    color: red;
  }

  &--send-notes {
    font-size: 2.5rem;
    font-weight: 600;
    color: $color-green-check;
  }

  &--4rem {
    font-size: 4rem;
  }

  &--3rem-grey {
    font-size: 3.5rem;
    color: $color-brownGrey;
  }

  &--3rem-white-qr {
    font-size: 3rem;
    color: white;
    position: relative;
    right: 20%;
  }

  &--3rem-white-search {
    font-size: 3rem;
    color: white;
    position: relative;
    right: 23%;
  }

  &--3rem-white-sos {
    font-size: 3rem;
    color: white;
    position: relative;
    right: 25%;
  }
}
