.b-icon-scan-result-negative {
  font-size: 8rem;
  position: absolute;
  bottom: -22%;
  left: -22%;
}

.b-icon-scan-result-question {
  font-size: 8rem;
  position: absolute;
  bottom: 30%;
  left: -22%;
}

.b-icon-scan-result-positive {
  font-size: 8rem;
  position: absolute;
  top: -22%;
  left: -22%;
}

.b-icon-diary-result-negative {
  font-size: 3rem;
  position: absolute;
  bottom: -22%;
  left: -22%;
}

.b-icon-diary-result-question {
  font-size: 3rem;
  position: absolute;
  bottom: 30%;
  left: -22%;
}

.b-icon-diary-result-positive {
  font-size: 3rem;
  position: absolute;
  top: -22%;
  left: -22%;
}
