$color-almostBlack: rgb(7, 15, 21);
$color-titleBlack: rgb(48, 53, 59);
$color-slateGrey: rgb(89, 95, 101);
$color-slateGrey-alpha: rgba(89, 95, 101, 0.5);
$color-aquaMarine: rgb(38, 199, 220);
$color-aquaMarine-alpha: rgba(38, 199, 220, 0.8);
$color-warmPink: rgb(248, 73, 113);
$color-warmPink-alpha: rgba(248, 73, 113, 0.7);
$color-brownGrey: rgb(168, 168, 168);
$color-brownishGrey: rgb(118, 118, 118);
$color-brownishGrey-alpha: rgba(118, 118, 118, 0.38);
$color-lightGrey: rgb(196, 196, 196);
$color-lightGrey-alpha: rgba(196, 196, 196, 0.8);
$color-green-check: rgb(50, 190, 166);
$color-green-check-alpha: rgba(50, 190, 166, 0.2);
$color-question: rgb(255, 193, 7);
$color-question-alpha: rgba(255, 193, 7, 0.2);
$color-red-remove: rgb(244, 67, 54);
$color-red-remove-alpha: rgba(244, 67, 54, 0.2);
