.App {
  text-align: center;
  margin: 0 auto;
  max-width: 414px;
  max-height: 814px;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}
