.b-text-content-regular-grey-12px {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  color: $color-brownGrey;
}

.b-text-content-grey-12px {
  font-size: 1.5rem;
  text-align: left;
  color: $color-brownGrey;
}

.b-text-content-black-12px {
  font-size: 1.5rem;
  text-align: left;
  color: black;
}
