@import 'src/styles/imports/settings.imports';

.backdrop-1 {
  height: 90vh;
  // width: 100%;
  position: relative;
}

.backdrop-2 {
  width: 100%;
  max-width: 414px;
  height: calc(100vh - 10vh);
  background-color: $color-brownishGrey-alpha;
  position: absolute;
  z-index: 50;
}

.img-logo-homepage {
  width: 90px;
}

.menu-footer {
  height: 10vh;
  max-width: 375px;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 30px;
  background-color: white;
}

.mi-guia-alimentaria {
  margin-bottom: 9rem;
}

.homepage-logo-figure {
  margin-bottom: 9rem;
}

@media screen and (min-height: 814px) {
  .backdrop-2 {
    height: calc(814px - 10vh);
  }
  .menu-footer {
    bottom: calc(100vh - 814px);
  }
  .homepage-logo-figure {
    margin-bottom: 4rem;
    margin-top: 8rem;
  }
}

@media screen and (max-height: 760px) {
  .mi-guia-alimentaria {
    margin-bottom: 4rem;
  }
  .homepage-logo-figure {
    margin-bottom: 4rem;
  }
}

@media screen and (max-height: 700px) {
  .mi-guia-alimentaria {
    margin-bottom: 2rem;
  }
  .homepage-logo-figure {
    margin: 1rem auto;
  }
}

@media screen and (max-height: 620px) {
  .img-logo-homepage {
    width: 70px;
  }
  .homepage-logo-figure {
    margin-top: 1rem;
  }
  .mi-guia-alimentaria {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
}
